<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div display="flex" justifyContent="center">
        <img src="https://private-user-images.githubusercontent.com/131176908/394669446-2fc04473-3dfe-428d-905b-d1843e5b05af.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mzc2NDMzMDAsIm5iZiI6MTczNzY0MzAwMCwicGF0aCI6Ii8xMzExNzY5MDgvMzk0NjY5NDQ2LTJmYzA0NDczLTNkZmUtNDI4ZC05MDViLWQxODQzZTViMDVhZi5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwMTIzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDEyM1QxNDM2NDBaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT00ODljMzI3NTYwMzA2NWU5OGE2NjUyMjBiODJiYzFjZTFkZTJlMzZiODNhN2ZiNmM5M2FhYWZmOGZmNmI4YjE4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.oX4TMePZF7y6DAyNk9LrydyF64qLL_jTia9q1SatLyk" height="auto">
    </div>
    <h2>Your Inquiry Has Been Replied</h2>
    <p>Dear {{Name}},</p>
    <p>Your contact request that you have sent throught the contact form has been replied:</p>
    <p>{{Message}}</p>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>We hope you enjoy your experience with Recyclify!</p>
    <br>
    <p>Best regards,<br>
        The Recyclify Team
    </p>
    <br>
    <br>
    <p>© 2025 The Recyclify Team. All rights reserved.</p>
</body>
</html>