<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div display="flex" justifyContent="center">
      <img src="https://github.com/RecyclifyApp/Frontend/blob/main/public/RecyclifyTransparentLogoV1.png?raw=true" height="auto">
    </div>
    <h2>Email Newsletter</h2>
    <p>Dear {{username}},</p>
    <p>Please find the school events below.</p>
    <table width="100%" cellpadding="10" cellspacing="0">
        <tr>
          <th>Event Details</th>
        </tr>
        <tr>
          <td>{{event1}}</td>
        </tr>
        <tr>
          <td>{{event2}}</td>
        </tr>
        <tr>
          <td>{{event3}}</td>
        </tr>
        <tr>
          <td>{{event4}}</td>
        </tr>
        <tr>
          <td>{{event5}}</td>
        </tr>
    </table>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>We hope you enjoy your experience with Recyclify!</p>
    <br>
    <p>Best regards,<br>
        The Recyclify Team
    </p>
    <br>
    <br>
    <p>© 2024 The Recyclify Team. All rights reserved.</p>
</body>
</html>