<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Update | Recyclify</title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <img src="https://github.com/RecyclifyApp/Frontend/blob/main/public/RecyclifyTransparentLogoV1.png?raw=true" width="150px">
    </div>
    <h2>Parent Update</h2>
    <p>Dear {{parentName}},</p>
    <p>We wanted to update you on your child's recycling progress:</p>
    <p><b>Student:</b> {{studentName}} from class {{className}}</p>
    <ul>
        <li><b>Total Points:</b> {{totalPoints}}</li>
        <li><b>Current Points:</b> {{currentPoints}}</li>
        <li><b>League:</b> {{league}}</li>
        <li><b>Redemptions:</b> {{redemptions}}</li>
    </ul>
    <p>Thank you for supporting your child's efforts in making a positive impact on the environment.</p>
    <p>If you have any questions, feel free to contact us.</p>
    <br>
    <p>Best regards,<br>
        The Recyclify Team
    </p>
    <br>
    <br>
    <p>© 2024 The Recyclify Team. All rights reserved.</p>
</body>
</html>
