<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification | MakanMatch</title>
</head>
<body>
    <div display="flex" justifyContent="center">
        <img src="https://github.com/RecyclifyApp/Frontend/blob/main/public/RecyclifyTransparentLogoV1.png?raw=true" width="300px">
    </div>
    <h2>Email Verification</h2>
    <p>Dear {{username}},</p>
    <p>Please reset your password using the reset key: <b>{{resetKey}}</b></p>
    <p>If you did not request this, please ignore this email.</p>
    <br>
    <p>Best regards,<br>
        The Recyclify Team
    </p>
    <br>
    <br>
    <p>© 2025 The Recyclify Team. All rights reserved.</p>
</body>
</html>