<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div display="flex" justifyContent="center">
        <img src="https://github.com/RecyclifyApp/Frontend/blob/main/public/RecyclifyTransparentLogoV1.png?raw=true" width="300px">
    </div>
    <h2>Task verified successfully!</h2>
    <p>Dear {{username}},</p>
    <p>Good news! Your recent task completion: {{taskTitle}} has been verified and you earned {{taskPoints}} leafs.</p>
    <p>Keep up the good work!</p>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>We hope you enjoy your experience with Recyclify!</p>
    <br>
    <p>Best regards,<br>
        The Recyclify Team
    </p>
    <br>
    <br>
    <p>© 2025 The Recyclify Team. All rights reserved.</p>
</body>
</html>