<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div display="flex" justifyContent="center">
        <img src="https://private-user-images.githubusercontent.com/131176908/394670902-bc0b82c3-1f36-4309-8daf-b80636227e49.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzM5MTA0ODUsIm5iZiI6MTczMzkxMDE4NSwicGF0aCI6Ii8xMzExNzY5MDgvMzk0NjcwOTAyLWJjMGI4MmMzLTFmMzYtNDMwOS04ZGFmLWI4MDYzNjIyN2U0OS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMjExJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTIxMVQwOTQzMDVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT05ZDA1MjZlODE3MGVhZDdkZGM0NGVhM2UzNDkzMWMxMzQzYzk0M2YwNDQzNDk0MDMyMGVhN2YzOGVhN2I1Y2VjJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.Y3D-S2B403Wa7QA8_TRBinaWXM-pzaASyWYkVme7PKk" height="auto">
    </div>
    <h2>Welcome to Recyclify!</h2>
    <p>Dear {{ username }},</p>
    <p>Thank you for joining Recyclify! We are thrilled to have you on board. Your account has been successfully created, and you can now start levelling up your classroom management experience.</p>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>We hope you enjoy your experience with Recyclify!</p>
    <br>
    <p>Best regards,<br>
        The Recyclify Team
    </p>
    <br>
    <br>
    <p>© 2024 The Recyclify Team. All rights reserved.</p>
</body>
</html>